<div class="task-container mt-5">
  <h2 class="text-center">{{ taskId ? "Edit Task" : "Add Task" }}</h2>
  <form autocomplete="off" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-section">
      <div class="form-group">
        <label for="assignedTo">Assigned To</label>
        <input
          class="custom-input"
          type="text"
          formControlName="assignedTo"
          id="assignedTo"
        />
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <input
          class="custom-input"
          type="text"
          formControlName="status"
          id="status"
        />
      </div>
      <div class="form-group">
        <label for="dueDate">Due Date</label>
        <input
          class="custom-input"
          type="date"
          formControlName="dueDate"
          id="dueDate"
        />
      </div>
      <div class="form-group">
        <label for="priority">Priority</label>
        <input
          class="custom-input"
          type="text"
          formControlName="priority"
          id="priority"
        />
      </div>
      <div class="form-group full-width">
        <label for="comments">Comments</label>
        <textarea
          class="custom-textarea"
          formControlName="comments"
          id="comments"
        ></textarea>
      </div>
    </div>
    <div class="button-group">
      <button type="button" class="btn-cancel" (click)="cancel()">
        Cancel
      </button>
      <button type="submit" class="btn-save" [disabled]="!taskForm.valid">
        Save
      </button>
    </div>
  </form>
</div>
